{
  "Source": { 
    "Type": "MSSQL",
    "ConnectionString": "Server=code-sujan\\MSSQLSERVER,1433;Database=SAGUN79;User Id=sa;Password=admin;"
  },
  "Destination": {
    "Type": "PSSQL",
    "ConnectionString": "Server=localhost; port=5432; Username=postgres; Password=admin; Database=sagundb;"
  },
  "Options": {
    "CopySelected": false,
    "Infos": [{
      "Schema": "dbo",
      "Tables": [
        ""
      ]
    }]
  }
}